# Dependencias
node_modules/

# Build de Astro
dist/
.astro/

# Entorno / logs
.env
.env.production
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
